<header class="home-background">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="container">
                  <h1>
                      Scrape the Web
                  </h1>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3">
                          <a class="btn btn-primary scraper">Scrape!</a>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="articleContainer">

      </div>
    </div>
  </div>
</div>


<div class="loadAnimation"><h1 class="alertMessage">Loading...</h1></div>
